body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background:black;
 
}

*{
			margin:0;
			padding:0;
			list-style:none;
			text-decoration:none;
}
/* Global */
.container{
  width:80%;
  margin:;
  overflow:hidden;
}



.sidebar{
				position: fixed;
				left:-250px;
				width:250px;
				height: 100%;
				background: #042331;
				transition: all .5s ease;
}
.sidebar header{
				font-size: 22px;
				color: white;
				text-align:center;
				line-height:70px;
				background: #063146;
				user-select: none;
				
}
.sidebar ul a {
				display:block;
				
				width: 100%;
				line-height: 65px;
				font-size:20px;
				color: white;
				padding-left:40px;
				box-sizing: border-box;
				border-top: 1px solid rgba(255,255,255,.1);
				border-bottom: 1px solid black;
				transition: .5s;
				
}
.sidebar{
				height:555px;
}
ul li:hover a{
				padding-left:60px;
}
.sidebar ul a i {
				margin-right: 16px;
}
#check{
				display: none;
}
label #btn,label #cancel{
				position: absolute;
				cursor: pointer;
				background: #042331;
				border-radius: 3px;
				
				
}
label #btn{
				left:25px;
				top:8px;
				font-size: 25px;
				color: white;
				padding:6px 12px;
				transition: all .5s;
}
label #cancel{
				z-index: 1111;
				left: -195px;
				top:20px;
				font-size: 20px;
				color: #0a5275;
				padding: 4px 9px;
				transition: all .5s ease;
}
#check:checked ~ .sidebar{
				left:0;
				
}
#check:checked ~ label #btn{
				left:250px;
				opacity: 0;
				pointer-events: none;
				
}
#check:checked ~ label #cancel{
				left:219px;
				}
				#check:checked ~ section{
								margin-left:250px;
				}
				section{
								background-position: center ;
								background-size: cover;
								height:100vh;
								transition:all .5s ;
								border:0px;
								width: 100%;
								}
						

div.menubar{
										
											height: 60px;
										background-color:#042331;
										width:990px;


			    }        	
h4{

				color: ;
				margin-top:-90px;
				font-size:3vh;
				margin-left: 23vh;
		width: 100%;
}

}
.homemain{
				border:1px;
				border-color:gray;
			
}
#noke{
      margin-left: 80px;
      margin-top:15px;
				transition: all .5s;
				background-color: #042331;
				color: white;
				border:0px;
			
			 
}
							#check:checked ~ label #noke{
				left:250px;
				opacity: 0;
				pointer-events: none;
				}
		
	


/* Showcase */
#showcase{
  height:500px;
  width:100%;
  background:black ;
  background-position: center;
  background-size: cover;
  text-align:center;
  color:#ffffff;
  opacity:100%;
}

  #showcase h1{
    margin-top:20%;
  
  
}

#showcase p{
  font-size:20px;
}
.me {
    transition: all .5s ease;
    color: #fff;
    border: 2px solid white;
    font-family:'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 15px;
    background-color : transparent;
    padding: 8px;
    outline: none;
    border-radius: 4px;
    
}
button:hover {
    color: #001F3F;
    background-color: #fff;
}

footer {
			margin-top:-80px;	
			font-size:17px;
			}
	a:link { text-decoration: none; }


		
}
footer i fab fa-twitter fab fa-linkedin-in fab fa-instagram fab fa-facebook-f:hover{
				opacity:30%;
}

.ha{
				padding:0;
				margin:0;
				font-size:15px;
				}
	/* Showcase */
#aboutid{
  height:500px;
  width:100%;
  background:url('../img/about.jpeg') no-repeat ;
  background-position: center;
  background-size: cover;
  
  color:;
  opacity:100%;
}
h2 {
			padding-left:115px;	
}

span {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
 padding-left: 15px;
 padding-right: 15px;
}
.homeimg{
				width: 100px;
				height: 100px;
				margin-top:75px;
				margin-bottom:-115px;
				border-radius: 75px;
				
}





* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
  text-align: center;
  padding-top:25px;
  
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: black;
  color:white;
}
.exp{
				font-size:20px;
				
}
.hobbies{
				color:white;
				text-align:center;
				
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}




/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
   h1,
  #main-col,
  aside#sidebar,
  {
    float:none;
    text-align:center;
    width:100%;
    
  }

  #showcase h1{
    margin-top:50%;
    
    
  }
div.menubar{
										
											height: 50px;
											width: 365px;
									}
	#showcase  {
					width:100%;
					height:700px;
	}								
.sidebar ul a {
				display:block;
				height:8vh;
			
				
}
footer {
			margin-top:-110px;	
			font-size:17px;
			}
#aboutid{
				height:700px;
				width:;
				background:url('../img/img2.jpeg') no-repeat ;
				
}

.sidebar{
			height:700px;
}
